.TableCustomFilterContainer {
  &-Title {
    margin-bottom: var(--space-xs);
  }

  &-Content {
    min-width: 400px;
    padding: var(--space-m);
    background-color: var(--color-bg-default);
    border-radius: 4px;
    box-shadow: 0 24px 32px rgba(var(--color-nums-shadow), 0.04),
      0 16px 24px rgba(var(--color-nums-shadow), 0.04),
      0 4px 8px rgba(var(--color-nums-shadow), 0.04), 0 0 1px rgba(var(--color-nums-shadow), 0.04);
  }

  &-ConfirmButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-m);

    & > .Button {
      flex-basis: 50%;
      flex-shrink: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
